<h1>Editing procedure</h1>

<%= render "form", procedure: @procedure %>

<br>

<div>
  <%= link_to "Show this procedure", @procedure %> |
  <%= link_to "Back to procedures", procedures_path %>
</div>
